/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* белый цвет #FFFFFF */
/* вторичный цвет фона #2196F3 */
/* цвет возрата #18a0fb */
/* цвет кнопок #F5F4FA */
/* цвет иконки #AFB1B8*/



:root {
    --primary-text-color:#757575;
    --title-text-color:#212121;
    --primary-white-color:#ffffff;
    --accent-color:#18a0fb;
    --secondary-background-color:#F5F4FA;
    --button-color:#F5F4FA;
    --icon-color:#AFB1B8;
    --cubic:cubic-bezier(0.4, 0, 0.2, 1)
}

html{
    box-sizing: border-box;
    line-height: 0;
}

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*--
h1,h2,h2,h3,h4,h5,h6{
    padding: 0;
    margin: 0;
}

ul,p {
    margin: 0;
    padding: 0;
    list-style: none;
}
--*/

/* Body */

body{background-color:var(--primary-white-color); 
    color:var(--title-text-color);
     font-family: 'Roboto', sans-serif;
      text-decoration: none;
    font-style: normal;
font-weight: 700;
font-size: 14px;
margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px ;
    padding-right: 15px;
   

}

/* Header */
.header-page{
    border-bottom: 1px solid #ECECEC;
}
/* Main-nav */
.main-nav {
    display: flex;
    align-items: center;
    
}

.logo{color: var(--title-text-color); font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
text-decoration: none;
letter-spacing: 0.02em;}

.logo-footer{color: var(--primary-white-color); font-family: 'Raleway', sans-serif; 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
text-decoration: none;
letter-spacing: 0.03em;
}

.logo:hover {color:var(--accent-color);}
.logo>.web{color: var(--accent-color);}
.link {text-decoration: none; 
    color: var(--title-text-color); }
.link:hover, .link:focus {color: var(--accent-color);}



/* Site nav */

.list{
    padding: 0;
    margin:0;
    list-style: none;   
}
.site-nav{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 93px;
}

.site-nav__link {color:var(--title-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration:none;
    letter-spacing: 0.02em;
/*--margin-right: 50px;
margin-left: 50px;--*/
display: block;
padding-top: 32px;
padding-bottom: 32px;
position: relative;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.site-nav__link::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover::after{
    opacity: 1;
}

.current::after{
    opacity: 1;
}
/*--.item-link-nav{
    margin-right: 50px;
}--*/
.site-nav__item:not(:last-child){
    margin-right: 50px;
}
 .site-nav__link:hover,.site-nav__link:focus { color: var(--accent-color); 
        text-decoration: none;
    } 

    .contact-nav__link {color:var(--primary-text-color);
font-family: 'Roboto';
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration:none;
display: flex;
margin-right: 50px;
justify-content: center;
align-items: center;
position: relative;
padding: 30px 0;
}
.contact-nav__link::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-nav__link:hover::after{
    opacity: 1;
}



 .contact-nav__icon{
    margin-right: 10px;
 }   
    

 .contact-nav__link:hover,.contact-nav__link:focus { color: var(--accent-color); 
    text-decoration: none; 
}
.contact-nav{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
}
.contact-nav__item:not(:last-child){
    margin-left: 50px;
}
.ccontact-nav__link:hover, 
.contact-nav__link:focus{
    fill:var(--accent-color)
}
/* Hero */


.hero.section{padding: 200px 0;
    background-color: var(--title-text-color);
    text-align: center;
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

    .hero__title {color: var(--primary-white-color); 
    cursor: pointer; 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height:1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    min-width: 690px;
    
    
    
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*-- .wrapper {max-width: 696px;
}--*/

.hero-title-hr {background-color: var(--primary-white-color);}

.title-first {color:var(--title-text-color);
    background-color: var(--primary-white-color);
    cursor: pointer;
    text-align: center;}

/* Button */

.button {color:var(--primary-white-color); 
    background-color: var(--accent-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    align-items: center;
    letter-spacing: 0.06em;
    padding: 10px 32px;
    border-radius: 4px;
text-decoration: none;
cursor: pointer;
text-align: center;
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)

}
.button.usl{color: var(--primary-white-color);
    background-color: var(--accent-color);
    border: #18a0fb;
    cursor: pointer;
    text-align: center;
}
.button.usl:hover{
    background-color: #afb1b8;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button.primary {color:var(--title-text-color);
    background-color: var(--button-color);
    border: #18a0fb;
     cursor: pointer;
     text-align: center;
}
.button.primary:hover{background-color:var(--accent-color);
    color: var(--primary-white-color);
     box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}
.button.secondary {color:var(--title-text-color);
     background-color: var(--button-color) ;
     border: #F5F4FA;
     cursor: pointer;
    padding: 6px 22px}
.button.secondary:hover{background-color: var(--accent-color);
    color: var(--primary-white-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);}

 .backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 3;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }  
 .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
 } 
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background: var(--primary-white-color);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 4px;
}
.modal-box{
    text-align: center;
    padding: 40px;
    
}
.modal-box__title{
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: .03em;
    color: var(--title-text-color);
}
.modal-form__group{
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
    position: relative;
}
.modal-form__lable{
    position: absolute;
    top: -18px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: .01em;
    color: #757575;
}
.modal-form__input{
    outline: none;
    padding: 20px;
    height: 40px;
    border: 1px solid rgba(33,33,33,.2);
    border-radius: 4px;
    padding: 11px;
    padding-left: 42px;
}
.modal-form__icon{
    fill: currentColor;
    position: absolute;
    left: 12px;
    bottom: 50%;
    transform: translateY(50%);
}
.modal-form__textarea{
    display: block;
    margin-bottom: 0;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33,33,33,.2);
    border-radius: 4px;
    padding: 11px;
    outline: none;
}
.textarea{
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.modal-form__input:focus+.modal-form__icon{
    fill: #18a0fb;

}
.modal-form__icon:focus+.modal-form__input{
  fill: #18a0fb ;
}
.modal-form__input:focus{
 border: 1px solid var(--accent-color)
}
.form-check__input:checked+.form-check__icon {
    background-color: var(--accent-color);
    background-origin: border-box;
    border-color: var(--accent-color);
    fill: var(--primary-white-color);}
    

 .form-check{
    margin-top: 20px;
    margin-bottom: 30px;
}
.form-check__label{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    color: #757575;
}
.form-check__input{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.form-check__icon{
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    fill: none;
    margin-right: 7px;
    cursor: pointer;
}
.form-check__link{
    margin-left: 7px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: .03em;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #2196f3;
}
.modal-form__button{
    width: 200px;
    height: 50px;
    color: var(--primary-white-color);
    background: var(--accent-color);
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    font-weight: 700;
    line-height: 30px;
    font-size: 16px;
    letter-spacing: .06em;
    cursor: pointer;
}
.close{
    position: fixed;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    fill: #212121;
}
.icon-close{
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

}
.icon-close:hover{
    fill: var(--accent-color);
}

/* Section-pr */

.section-title{background-color: var(--primary-white-color);}
/*--.section-pr{ background-color:var(--primary-white-color);
    display: flex;}--*/
.advantages{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.section-advantages { padding-top: 94px;
    padding-bottom: 94px;}
.section.no-padding { padding-top: 0;
    padding-bottom: 0;}
   
.advantages__title{color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantages__text{color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
text-transform: none;}
.prem-logo{
    display: flex;
    justify-content: center;
    padding: 25px 100px;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
/*--.icon-prem{
    width: 70px;
    height: 70px;
}--*/
.advantages__item{
    width: calc((100% - 3 * 30px)/4);
}
.advantages__item:not(:last-child){
    margin-right: 30px;
}

.advantages__item::before{
    display: block;
    content: "";
    height: 120px;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}
.icon-antenna::before{
    background-image: url(../images/antenna.svg);
    background-size: 70px;
    background-position: center;
}
.icon-clock::before{
    background-image: url(../images/clock.svg);
    background-size: 70px;
    background-position: center;
}
.icon-diagram::before{
    background-image: url(../images/diagram.svg);
    background-size: 70px;
    background-position: center;
}
.icon-astronaut::before{
    background-image: url(../images/astronaut.svg);
    background-size: 70px;
    background-position: center;
}
/* Section-do */
.section-do { padding-top: 0;
    padding-bottom: 94px;}

.section-do__title{color: var(--title-text-color);
background-color: var(--primary-white-color);
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 50px;}

.section-do__list.list {padding-top: 50px;
    padding-bottom: 94px;}
.section-do__list {
    display: flex;
}
.overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    transition: transform 250ms ease;
}
.overlay>p{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 27px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.section-do__item {
    width: calc((100% - 2 * 30px)/3);
position: relative;
}

.section-do__item:not(:last-child){
    margin-right: 30px;
}



/* Section-com */
.section-comanda {background-color: var(--secondary-background-color);
padding-top: 94px;
padding-bottom: 94px;}

.section-comanda__title {color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}

    

.comanda-cards{background-color:#F5F4FA;
    display: flex;
}
.comanda {
    width: calc((100% - 3 * 30px)/4);
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%), 0px 2px 1px rgb(0 0 0 / 20%);
    border-radius: 0px 0px 4px 4px;
}
.comanda:not(:last-child){
    margin-right: 30px;
}
.comanda-title{ color: var(--title-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.18;}

.comanda-text{ color: var(--primary-text-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.18;
    margin-top: 10px;
/*--padding-bottom: 30px;--*/}
.comanda-cards .comanda-text{
    margin-bottom: 16px;
}
.comanda-people{
    padding-top:30px;
    padding-bottom: 30px;
    text-align: center;
    background-color:var(--primary-white-color);
    border-radius: 0px 0px 4px 4px;
}
.net-list{
    display: flex;
    justify-content: center;
    padding: 0;
    align-items: center;
}
.network{
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
}
.network:not(:last-child){
    margin-right: 10px;
}

.a{
    text-decoration: none;
    font-style: normal;
}
.social{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   fill: var(--icon-color);
   background-color: var(--primary-white-color);
   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social:hover, .social:focus{
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}

/* Постоянные клиенты */

.section-clients{ 
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-heading{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: .03em;
    color: var(--title-text-color);
    margin-bottom: 50px;
}
.client{
    display: flex;
    justify-content: center;
    text-align: center;
}
.client-item:not(:last-child){
    margin-right: 30px;
}
.a{
    text-decoration: none;
    font-style: normal;
}
.client-link{
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--icon-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.client-link:hover,
.client-link:focus{
    background-color: var(--primary-white-color);
    border: 1px solid #18a0fb;
    fill: var(--accent-color);
}


 .client-image{
    width: 106px;
    height: 60px;
    
}

/* Footer */

.footer-nav{
     display: flex;
}
.list-footer {font-style: normal;
list-style: none;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
}
.footer {background-color:var(--title-text-color);
    color: var(--primary-white-color);
    padding-top: 60px;
    padding-bottom: 60px ;}
.maps-link {background-color: var(--title-text-color);
    color: var(--primary-white-color); 
    text-decoration: none;}
.address-link{color: rgba(255, 255, 255, 0.6);
    text-decoration: none;}
.address-link:hover, .address-link:focus{color: var(--accent-color);}

.webfoot{
    margin-bottom: 20px;
}
.map-mail{
    margin-bottom: 9px;

}
.footer-social{
    margin-left: 75px;
}
.footer-social__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
    padding-top: 10px;
}
.footer-social__icon{
    display: flex;
    align-items: center;
}
.footer-social__link{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(255,255,255,.1);
    width: 44px;
    height: 44px;
    fill: var(--primary-white-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.footer-social__icon li:not(:last-child){
    margin-right: 10px;
}
.footer-social__link:hover,
.footer-social__link:focus{
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
}
/*-- here start --*/
.footer-submit{
    margin-left: 95px;
}
.submit-title{
    padding-top: 10px;
    margin-bottom: 20px;
    text-align: start;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .03em;
    text-transform: uppercase;
    color: #fff;

}
.submit-form{
    display: flex;
}
.form-input{
    padding-left: 10px;
    height: 50px;
    background: var(--title-text-color);
    color: rgba(255,255,255,.6);
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 358px; 
}
 .input{
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
   /*-- width: 358px;
     padding-left: 10px;
    height: 50px;
    background: #2f303a;
    color: rgba(255,255,255,.6);
    border: 1px solid rgba(255,255,255,.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); --*/
} 
    

.submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    background: var(--accent-color);
    border-radius: 4px;
    color: var(--primary-white-color);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    cursor: pointer;
    border: none;
}
.submit-icon{
    fill:#F5F4FA;
    margin-left: 10px;
}
/* Page Portfolio */

/* Hero */
.portfolio-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
   
    
}
.portfolio-nav__item { 
     margin-right: 8px;
     
}
 
/* Section-po */
.portfolio-photo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   /*-- margin-left: auto;
    margin-right: auto; --*/
}
.section-portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
    }
        
        
    .portfolio-photo__item {
        width: calc((100% - 2 * 30px)/3);  
        margin-bottom: 30px;
        
    }
    
    .portfolio-photo__item img{ 
        display: block;
    }

  
    .portfolio-photo__item:not(:last-child){
        margin-right: 30px;
    }

   .portfolio-photo__item:nth-child(3n){
        margin-right: 0;
    } 
    .portfolio-photo__item:nth-child(7){
        margin-bottom: 0;
    } 
    .portfolio-photo__item:nth-child(8){
        margin-bottom: 0;
    } 
    .portfolio-photo__item:nth-child(9){
        margin-bottom: 0;
    } 
    .portfolio-photo__link{
        display: inline-block;
        text-decoration: none;
        transition: box-shadow 250ms 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .portfolio-photo__link:hover,
    .portfolio-photo__link:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
   /*-- .item-hero-po:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    } --*/
    .portfolio-photo__link:hover .hero-po-p{
        transform: translateY(100%);
    }
  .portfolio-box{
    position: relative;
    overflow: hidden;
  }
.portfolio-image{
    display: block;
}
.portfolio-text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;

    margin-top: 0;
    margin-bottom: 0;
    padding: 63px 24px;
    text-align: left;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    background-color: var(--accent-color);
    color: var(--primary-white-color);

    opacity: 1;
    transform: translateY(200%);
    transition: transform 250ms var(--cubic);
}
    .border-card {
        border: 1px solid #EEEEEE;
        padding-left: 24px;
        padding-bottom: 20px;
        padding-top: 20px ;
        padding-right: 24px; 
        
    }
    .border-title {color: var(--title-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.06em;
    line-height: 2;}

.border-text{color:var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.8;}

