:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --primary-white-color: #ffffff;
    --accent-color: #18a0fb;
    --secondary-background-color: #F5F4FA;
    --button-color: #F5F4FA;
    --icon-color: #AFB1B8;
    --cubic: cubic-bezier(0.4, 0, 0.2, 1)
}

